<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.linx.applock">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Applock">
        <activity
            android:name=".authenticators.DeviceAuth"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        <receiver-->
        <!--            android:name=".broadcast.ReceiverApplock"-->
        <!--            android:exported="true"-->
        <!--            android:enabled="true" />-->

        <!--        <receiver-->
        <!--            android:name=".broadcast.RestartServiceWhenStopped"-->
        <!--            android:exported="true"-->
        <!--            android:enabled="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->

        <!--        <service-->
        <!--            android:name=".Services.ServiceApplock"-->
        <!--            android:exported="false"-->
        <!--            android:enabled="true" />-->

        <!--        <service-->
        <!--            android:name=".Services.ServiceApplockJobIntent"-->
        <!--            android:exported="false"-->
        <!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->

    </application>

</manifest>